n8n-PDF2MD2Vector.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_kb_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2304,
        240
      ],
      "id": "3d672f39-e40e-46e9-a9fb-ef9417b6e1c0",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "33JaYi4mBHPL12hn",
          "name": "Postgres to local vector"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "ref_source",
                "value": "={{ $('Request to upload only 1 file').item.json.File.filename.toLowerCase() }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2240,
        464
      ],
      "id": "31f4a338-048f-43eb-9908-cb9c2036c6cb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 150,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2224,
        624
      ],
      "id": "c4d6d3cd-2176-4702-b4d2-ae6c68022317",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2096,
        448
      ],
      "id": "73d98914-e947-4669-9dbb-3a90d0c6bf37",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xmvnrIlp6k6U5Eyt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "binaryData": true,
        "binaryPropertyName": "File",
        "dataPropertyName": "file_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        144,
        224
      ],
      "id": "2caf104e-2f41-4e1f-b88e-2966f7ed3088",
      "name": "Hash File"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "record_manager",
          "mode": "list",
          "cachedResultName": "record_manager"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "filename",
              "value": "={{ $('Request to upload only 1 file').item.json.File.filename.toLowerCase() }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        256
      ],
      "id": "559ba41d-a89b-4d01-b2ea-6ed12239e04d",
      "name": "Try Match File in Record Manager",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "33JaYi4mBHPL12hn",
          "name": "Postgres to local vector"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "record_manager",
          "mode": "list",
          "cachedResultName": "record_manager"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "filename": "={{ $('Request to upload only 1 file').item.json.File.filename.toLowerCase() }}",
            "hash": "={{ $('Hash File').item.json.file_hash }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hash",
              "displayName": "hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        272
      ],
      "id": "69d6237a-07bf-486d-85a1-90baebddd118",
      "name": "Add Filename to Record Manager",
      "credentials": {
        "postgres": {
          "id": "33JaYi4mBHPL12hn",
          "name": "Postgres to local vector"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        96
      ],
      "id": "b2c27610-4f9b-4696-9d20-99bf2663bc8f",
      "name": "Send File for RAG"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "fede3bcc-2c78-4733-b754-03f232704d31"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7070a274-6bcb-44ae-91ef-b1775342a04a",
                    "leftValue": "={{ $('Hash File').item.json.file_hash }}",
                    "rightValue": "={{ $json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        560,
        272
      ],
      "id": "f056261f-ea80-4b49-adef-9ea830b14b75",
      "name": "File change or new file"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_kb_vectors WHERE metadata->>'ref_source' = '{{ $json.filename }}';\nDELETE FROM record_manager WHERE filename = '{{ $json.filename }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        736,
        416
      ],
      "id": "77dc354c-354a-4386-8c4f-a835c50bf7a0",
      "name": "File Changed remove old file and RAG",
      "credentials": {
        "postgres": {
          "id": "33JaYi4mBHPL12hn",
          "name": "Postgres to local vector"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Add Documents",
        "formDescription": "Upload a document and provide a unique identifier",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "0ab7c142-e055-46c7-9ca5-22053ce8b9d2",
      "name": "Request to upload only 1 file",
      "webhookId": "494d5b7f-fd07-44a4-9712-3178ea73db2d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.17.105:8080/submit-document",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        0
      ],
      "id": "998de0a5-20be-42df-ab23-c6505b85a83d",
      "name": "Submit to Python API"
    },
    {
      "parameters": {
        "url": "={{ 'http://172.17.17.105:8080/status/' + $json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        112
      ],
      "id": "8a6f29e9-6a21-4edc-9918-8d5d1c241f11",
      "name": "Check Status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1904,
        112
      ],
      "id": "4f90a48e-be52-44bc-a6b1-69655acc057e",
      "name": "Is Completed?"
    },
    {
      "parameters": {
        "url": "={{ 'http://172.17.17.105:8080/download/' + $json.job_id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "File"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        80
      ],
      "id": "470ebaf6-3245-498a-9ac0-a0a65662123b",
      "name": "Download Markdown"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        112
      ],
      "id": "fec50c1d-a00d-47b5-bba0-c48888596dfd",
      "name": "Wait 10s",
      "webhookId": "649c9c98-9d41-4517-9f7c-66631777d463"
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Hash File": {
      "main": [
        [
          {
            "node": "Try Match File in Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Match File in Record Manager": {
      "main": [
        [
          {
            "node": "File change or new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Filename to Record Manager": {
      "main": [
        [
          {
            "node": "Send File for RAG",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send File for RAG": {
      "main": [
        [
          {
            "node": "Submit to Python API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File change or new file": {
      "main": [
        [
          {
            "node": "Add Filename to Record Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Changed remove old file and RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Changed remove old file and RAG": {
      "main": [
        [
          {
            "node": "Add Filename to Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to upload only 1 file": {
      "main": [
        [
          {
            "node": "Hash File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send File for RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Python API": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Download Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Markdown": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "205c45a2735bdbcb74d87e3d381222fbdd19e110964a53d0d0ea9af4012c5a91"
  }
}